.red {
  color: red;
  font-size: 25px;
}

.container {
  margin-top: 100px;
  /* background-color: skyblue; */
  background-image: linear-gradient(to bottom right, rgb(102, 204, 248), rgba(0, 17, 255, 0.918));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-weight: 600;
}

.form-group input {
  width: 700px;
}

.btn-success {
  display: inline-block;
  width: 700px;
  font-size: 20px;
}

.form-group label {
  font-size: 22px;
}