input[class="form-control"] {
  width: 500px;
}

label {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.container {
  background-image: linear-gradient(to bottom right, rgb(102, 204, 248), rgba(0, 17, 255, 0.918));
  height: 350px;
  width: 600px;
  border-radius: 25px;
  padding: 25px;
}

h2 {
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

video#bgVideo {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
